<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body class="container">
        <header th:replace ="fragments :: header"></header>
        <form method='post'>

                <th:block th:each="event : ${events}">
                    <div class="form-group">
                        <label>
                            <span th:text="${event.name}"></span>
                            <input class="form-control" type="checkbox" name="eventIds" th:value="${event.id} ">

                        </label>
                    </div>
                </th:block>

            <input class="btn btn-danger" type="submit" value="Delete">
        </form>

    </body>
</html>